In [1]:
#train and test model
import pandas as pd
import numpy as np
df = pd.read_csv(r'E:\BT\sim_train.csv')

In [2]:
df

,price_vnd,sim_number,provider,same_of_a_kind,straight,same_of_a_kind_middle,straight_middle,fortune,wealth,land,taxi,birth_date,mirror,legacy,memorable,reserve,reserve_middle,repeat,last_number
0,450000,343189288,viettel,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,8
1,3000000,888899580,vinaphone,0,0,4,0,0,0,0,0,0,0,0,0,0,0,0,0
2,500000,928960006,vietnamobile,0,0,3,0,0,0,0,0,0,0,0,0,0,0,0,6
3,5000000,902438679,mobifone,0,0,0,0,0,2,0,0,0,0,1,0,0,0,0,9
4,450000,334307889,viettel,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
199995,450000,866161769,viettel,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,9
199996,1000000,708124126,mobifone,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,6
199997,1000000,904755200,mobifone,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0
199998,450000,329220204,viettel,0,0,0,0,0,0,0,0,6,0,0,0,0,0,0,4
199999,1000000,904760321,mobifone,0,0,0,0,0,0,0,0,0,0,1,0,3,0,0,1

In [3]:
df=df.replace(['itelecom','gmobile','vietnamobile','mobifone','vinaphone','viettel'],[1,2,3,4,5,6])

In [4]:
df.dtypes

price_vnd                int64
sim_number               int64
provider                 int64
same_of_a_kind           int64
straight                 int64
same_of_a_kind_middle    int64
straight_middle          int64
fortune                  int64
wealth                   int64
land                     int64
taxi                     int64
birth_date               int64
mirror                   int64
legacy                   int64
memorable                int64
reserve                  int64
reserve_middle           int64
repeat                   int64
last_number              int64
dtype: object

In [5]:
df = df[df['price_vnd'] <= 10000000000]
df2 = df[df['price_vnd'] <= 10000000000]

In [6]:
df['price_vnd'] = np.log(df['price_vnd'])

In [7]:
x = df.drop('price_vnd', axis = 1)
y = df.price_vnd

In [8]:
x.dtypes

sim_number               int64
provider                 int64
same_of_a_kind           int64
straight                 int64
same_of_a_kind_middle    int64
straight_middle          int64
fortune                  int64
wealth                   int64
land                     int64
taxi                     int64
birth_date               int64
mirror                   int64
legacy                   int64
memorable                int64
reserve                  int64
reserve_middle           int64
repeat                   int64
last_number              int64
dtype: object

In [9]:
from sklearn.model_selection import train_test_split

In [10]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.3, random_state=1)

In [12]:
from sklearn.metrics import mean_squared_error, mean_absolute_error

In [13]:
from sklearn.ensemble import GradientBoostingRegressor
from xgboost import XGBRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.linear_model import RidgeCV
from sklearn.pipeline import make_pipeline, make_union
from tpot.builtins import StackingEstimator

In [14]:
clf = RandomForestRegressor(bootstrap=False, max_features=0.6500000000000001, min_samples_leaf=5, min_samples_split=7, n_estimators=100, n_jobs=-1)

In [15]:
clf2 = make_pipeline(
    StackingEstimator(estimator=RidgeCV()),
    RandomForestRegressor(bootstrap=True, max_features=0.5, min_samples_leaf=3, min_samples_split=2, n_estimators=100, n_jobs=-1)
)

In [16]:
clf.fit(x_train, y_train)
y_pred_etr = clf.predict(x_test)

In [17]:
clf2.fit(x_train, y_train)
y_pred_xgb = clf2.predict(x_test)

In [18]:
y_pred_xgb = np.exp(y_pred_xgb)

In [19]:
y_pred_etr = np.exp(y_pred_etr)

In [20]:
print(mean_absolute_error(y_test, y_pred_etr))
print(mean_squared_error(y_test, y_pred_etr))

7023660.0622252915
1641120191137311.8
-775321058522964.2

In [75]:
print(mean_absolute_error(y_test, y_pred_xgb))
print(mean_squared_error(y_test, y_pred_xgb))

6840524.654645381
1404857101612193.5

In [76]:
df3 = pd.read_csv(r'E:\BT\sim_test_ed.csv')

In [77]:
df3=df3.replace(['itelecom','gmobile','vietnamobile','mobifone','vinaphone','viettel'],[1,2,3,4,5,6])

In [78]:
y_pred_test1 = clf.predict(df3)
y_pred_test1 = np.exp(y_pred_test1)
y_pred_test1 = pd.DataFrame(y_pred_test1, columns = ['price_vnd'])
y_pred_test1.to_csv(r'E:\BT\test11.csv', index=False)

In [79]:
y_pred_test2 = clf2.predict(df3)
y_pred_test2 = np.exp(y_pred_test2)
y_pred_test2 = pd.DataFrame(y_pred_test2, columns = ['price_vnd'])
y_pred_test2.to_csv(r'E:\BT\test22.csv', index=False)

In [82]:
y_pred_test2.describe().apply(lambda s: s.apply('{0:.1f}'.format))

          price_vnd
count      149060.0
mean      7112649.3
std      44311295.8
min        298857.1
25%        576431.8
50%       1074992.3
75%       4011844.0
max    2789407272.7